﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="index.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- test -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<body>

    <div id="Main">
		<div class="side-buttons">
			<button class="vertical-button" v-on:click="page = PAGE.BLOG">Blog</button>
			<button class="vertical-button" v-on:click="page = PAGE.CV">Curriculum Vitae</button>
		</div>
        <div class="content">
			<transition name="fade" mode="out-in">
				<div class="page" transition="expand" v-if="page == PAGE.BLOG">
					<b>This page is still WIP</b>
					<blog-resume v-for="s in data.blogs" 
								 v-bind:title="s.title" 
								 v-bind:url="s.url"
								 v-bind:picture="s.picture">
						{{s.resume}}
					</blog-resume>	
				</div>
			</transition>
				<div class="page" transition="expand" v-if="page == PAGE.ARTICLE">
					<blog-page v-bind:url="article"></blog-page>
				</div>
			<transition name="fade" mode="out-in">
				<div class="page" transition="expand" v-if="page == PAGE.CV">
					<sub-header 
					v-bind:title="data.title"
					v-bind:paragraph="data.shortPararaph"
					v-bind:links="data.links"
					>
					</sub-header>
					<p id="printNotice">The hyperlinks on this page are clickable.</p>
					<sub-paragraph
					v-for="section in data.sections"
					v-bind:object="section"
					>
					{{section.body}}
					</sub-paragraph>   
					
				</div>
			</transition>
        </div>
    </div>
	<script type="text/javascript" src="data1.js"></script>
    <script type="text/javascript" src="vueComponents.js"></script>
    <script type="text/javascript" src="vueProgram.js"></script>
    
</body>
</html>
  
