/*@font-face { font-family: GoudyInitialen; src: url("font/GoudyInitialen.woff") ; }*/
@font-face { font-family: JANCIENT; src: url("font/JANCIENT.woff") ; }



body {
  font-size: 14px;
  font-weight: 600;
  background: url(https://gitlab.com/admiralnelson/admiralnelson.gitlab.io/-/raw/master/icons/bretonnia-bckg.png);
}

a
{
  text-decoration: none;
  color: rgba(0,0,0,1.0);
}
.text
{
  text-decoration: none;
  color: rgba(0,0,0,0.3);
}

.text:hover
{
  text-decoration: underline;
  color: rgba(0,0,0,0.7);
}

a:hover
{
  text-decoration: underline;
  color: rgba(0,0,0,0.7);
}

hr
{
  border: 1px solid rgba(0,0,0,0.3);
  
}

ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center
}

li
{
  float: left;
  margin-right: 3px;
  font-size: small
}

 li:after {
  margin-left: 2px;
  content: "|";
  float: right;
  color: rgba(161, 0, 0, 0.7);
  }

  li:last-child:after { content: ""; }

.side-buttons
{
	float: left;
    margin-left: -245px;
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform-origin: bottom right;
}

.vertical-button
{
	background: red;
	border-radius: 0;
	color: white;
	display: inline-block;
	font-size: 1rem;
	height: 80px;
	line-height: 50px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	width: auto;
	padding: 10px;
	margin: 10px;
	border: none
}

.page {
  filter: drop-shadow(-25px 25px 10px rgba(34, 34, 34, 0.637));
  position: relative;
  background-color: #f8f5de;
  background-image: linear-gradient(to right, rgba(255,210,0,0.4), rgba(200, 160, 0, 0.1) 11%, rgba(0,0,0,0) 35%, rgba(200, 160, 0, 0.1) 65%);
  box-shadow: inset 0 0 75px rgba(255,210,0,0.3), inset 0 0 20px rgba(255,210,0,0.4), inset 0 0 30px rgba(220,120,0,0.8);
  color: rgba(0,0,0,0.7);
  font-family: "AustralisProSwash-Italic";
  width: calc(8.5in - 15em);
  letter-spacing: 0.05em;
  line-height: 1.8;
  padding: 5em 5em 15em 5em;
  clip-path:polygon(78.68% -2.84%, 107.52% -0.8%, 105.5% 101.75%, 99.22% 101.02%, 92.81% 98.04%, 98.58% 101.64%, -38.60% 101.46%, -8.58% -1.86%, 13.32% -1%, 18.95% -1.43%, 24.45% 0.87%, 22.99% -0.94%, 76.6% -1.54%, 77.01% 1.29%);
  min-height:500px;	
  transition: height 1s;
}

.page:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-width: 0 64px 64px 0;
  border-style: solid;
  border-color: rgb(175, 105, 15) #3F111B;
  filter: drop-shadow(-8px 10px 5px rgba(34, 34, 34, 0.294));
  clip-path: polygon(23.12% -16px, 218.58% -8.5%, 91.76% 226.89%, 55.91% 72.95%, 45.47% 227.77%, -94.51% 27.50%, 17.6% 43.33%, -46px -6.92%);
}

.caps {
  color: rgba(161, 0, 0, 0.7);
  float:left;
  font-family: GoudyInitialen;
  font-size: 11em;
  line-height: 60px;
  padding-right: 12px;
  font-weight: 500;
  position:relative;
  top:30px;
  margin-bottom: 45px;
}

.mainTitle
{
  font-family: JANCIENT;
  font-size: 5em;
  font-weight: 500;
  color: rgba(161, 0, 0, 0.7);
  text-shadow: -1px -1px 0px rgba(255, 75, 75, 0.7);
  margin-bottom: -40px;
}


.icon
{
  max-width: 64px;
  max-height: 64px;
  
}

.section
{
  color: rgba(161, 0, 0, 0.7);
  font-family: JANCIENT;
}

#Main
{
  
  margin: auto;
  margin-top:20px;
  margin-bottom:20px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
   width:800px;
}

.title
{
  font-size: 2em;
  color:rgba(161, 0, 0, 0.7);
  

}

table 
{
  border-collapse: collapse;
  margin-bottom: 20px;
}

tr
{
	border-bottom:1px solid rgba(0,0,0,0.3);
}


.leftCol
{
  text-align:right;
  padding-right:20px;
  color:rgba(161, 0, 0, 0.7);
  width: 15%;
}

.centreCol
{
  width:60%;
}

.fullcentreCol
{
  width:75%;
}

.rightCol
{
  text-align:right;
  width: 25%;
  font-size: smaller;
  color: rgba(0,0,0,0.3);
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .25s
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
    opacity: 0
}

#printNotice {
    display: none
}

a {
    color: rgba(0,0,0,0.8) !important;
}

@media print, (max-width: 767px) {
	#blogPage { display:none }
	#cvPage { display:block }
	.side-buttons { display:none; }
    .page {
        filter: none !important;
        position: relative !important;
        background-color: white !important;
        background-image: none !important;
        box-shadow: none !important;
        color: rgba(0,0,0,0.8) !important;
        font-family: "AustralisProSwash-Italic" !important;
        letter-spacing: 0.05em !important;
        line-height: 1.8 !important;
        padding: 0px !important;
        clip-path: none !important;
		width: 100% !important;
    }

    body {
        font-size: 14px;
        font-weight: 600;
        background: white !important;
    }

    .page::before {
        content: "" !important;
        position: relative;
        top: 0;
        right: 0;
        border-width: 0 !important;
        border-style: solid !important;
        border-color: #0000 !important;
        filter: none !important;
        clip-path: none !important;
    }

    #Main {
        margin: 10px !important;
        top: 0 !important;
        right: 0 !important;
        bottom: 0 !important;
        left: 0 !important;
        width: 90% !important;
        padding: 0px !important;
	margin-top:0px;
    }

    .mainTitle
    {
        font-family: JANCIENT;
        font-size: 3em;
		margin-bottom: 0px;
    }

    .icon 
    {
        display: none;
    }
   
    .title
    {
        font-size: 1.5em;
    }
}

@media (min-width: 768px) and (max-width: 940px) {
	/*.page { width: calc(8.5in - 19em); }*/
	#Main
	{
		width: 100% !important;
		margin-left: 60px;
	}
	
	.page{ width: calc(8.5in - 19em); }
}

@media print{
    a {
        text-decoration: underline;
    }
    #printNotice {
        display: block
    }
}